Header {
    /*background-color: pink;*/
    width: 100%;
    height: 2cm;

}

.area21{
    display: flex;
    margin-left:3%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    /*50% -> 70%*/
    width:75%;
    font-size:100px;
    /*background-color: yellow;*/

}

.box {
    background-color: powderblue;
    color: white;
    width: 14.5%;
    height: 40px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

#loginBox {

    margin-top: 40px;
    margin-right: 5px;
}

#joinBox {


    margin-top: 40px;
    margin-right: 0;
}

#home {

    width: 5.2%;
    height: 1.5cm;
    margin-top: 35px;
    margin-left: 0;
}

#writeBox {


    margin-top: 40px;

}

#readBox {


    margin-top: 40px;
}



.marginBox {
    background-color: powderblue;
    position: absolute;
    display: inline;
    padding: 22px;
    padding-right: 102.5px;
    /*border: 1px solid;*/
    left: 60%;
    top: 1.1cm;

}

#github {
    position: absolute;
    left: 5%;
    top: 18%;
}

#tistory {
    position: absolute;
    left: calc(((10% + 30px) + (90% - 30px) - 40px) / 2);
    top: 6%;
    margin-right: 0.1px;
    color: powderblue;
}

#email {
    position: absolute;
    top: 9%;
    left: calc(90% - 24px);
    margin-right: 0;
}


/*
 searchButton이랑 write Button은 둘다 absolute에서
*/

section {
    position: relative;
    top: 1cm;
    margin-top: 10px;
    /*  background-color: greenyellow;*/

    width: 100%;
}
.bodyHeader {
    height: 75%;
    background-color: powderblue;
    display: flex;
    justify-content: space-around;
}
#transChart {

    width: 30vw;
    height: 60vh;
}

#boardAccountChart {
    width: 30vw;
    height: 60vh;
}

#boardWriteLineChart {
    width: 30vw;
    height: 50vh;
    margin-top:70px;
}

.inline {
    display: inline;
}

footer {
    position: relative;
    top:2cm;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 100%;
    height: 1.52cm;
    /*left: 12cm;*/
    background-color: pink;

}

#footerText {
    display: flex;
    position: relative;
    align-content: flex-end;
    justify-content: space-around;
    padding-left: calc((100vw - 100%) / 2); /* 브라우저의 스크롤바 너비를 계산하여 왼쪽 패딩 값을 조정합니다 */

}
.cursor {
    cursor: pointer;
}

@media (max-width: 1500px) {

    .marginBox {
        left:85.7%;



    }
}


@media (max-width: 1200px) {

    .box {
        width: 17%;

    }



    #home {

        width: 5.2%;
        height: 1.5cm;
        margin-top: 30px;
        margin-left: 0;
    }




    .marginBox {
        left:84%;
    }

}
@media (max-width: 1149px) {
    .marginBox {
        left:83.5%;
    }


}
@media (max-width: 1128px) {
    aside {
        position: absolute;
        width: 0%;
        height: 0;
        left: 69.1%;
        top: 0;
        /* background-color: yellow;*/
    }


    .marginBox {
        left:80.6%;
    }



}


@media (max-width: 1100px) {

    .area21{
        display: flex;
        margin-left:1cm;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        width:89%;
        font-size:100px;
        /*   background-color: yellow;*/

    }
    .marginBox {
        padding: 0;
        height: 0;

    }
    #github {
        width: 0;
        height: 0;
    }
    #tistory{
        width: 0;
        height: 0;
    }
    #email{
        width: 0;
        height: 0;
    }
    footer{
        width:100%;
    }
}
@media (max-width: 800px) {

}
@media (max-width: 749px) {



}



@media (max-width: 685px) {

    .area21{
        display: flex;
        margin-left:4.3%;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        width:90%;
        font-size:100px;
        /* background-color: yellow;*/

    }
    .box {
        width: 20%;

    }

    #home {

        width: 0%;
        height: 1.5cm;
        top: 30px;
        margin-left: 0;
    }


}

@media (max-width: 572px) {

    .area21{
        display: flex;
        margin-left:0.9cm;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        width:85.2%;
        font-size:100px;
        /* background-color: yellow;*/

    }

}
/*
absoulte로 하는경우 마진겹침 막고 싶으면 margin-top 두면 되고
싫으면 top 쓰면 됨
relative는 자동으로 들여쓰기가 제공된다는 점
abosolute는 뒤에 있는 relative가 absolute를반응안한다는 점
 */
@media (max-width: 542px) {

    .area21{
        display: flex;
        margin-left:4.6%;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        width:90%;
        font-size:100px;
        /*  background-color: yellow;*/

    }



}
@media (max-width: 480px) {

}

@media (max-width: 460px) {




}

@media (max-width: 430px) {


}
@media (max-width: 414px) {

}
@media (max-width: 414px) {

}
@media (max-width: 410px) {




}

@media (max-width: 384px) {


}

@media (max-width: 360px) {





}
