Header {
    /*background-color: pink;*/
    height: 2cm;

}


.box {
    background-color: powderblue;
    color: white;
    width: 14.5%;
    height: 40px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}


.area21{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width:100%;
    font-size:100px;
    /*background-color: yellow;*/

}

#loginBox {

    margin-top: 40px;
    margin-right: 5px;
}

#joinBox {


    margin-top: 40px;
    margin-right: 0;
}

#home {

    width: 5.2%;
    height: 1.5cm;
    margin-top: 35px;
    margin-left: 0;
}

#writeBox {


    margin-top: 40px;

}

#readBox {


    margin-top: 40px;
}





section {
    /*background-color: gray;*/

    width: 100%;
    /*background-color: greenyellow;*/

}
body{
    background-color: gray;
}

/*
 searchButton이랑 write Button은 둘다 absolute에서
*/

aside {
    width: 0;
    height: 0;
}
article {
    margin-top:1cm;

    display: flex;
    flex-direction: column;
}
#login {
    width: 5cm;
    display: flex;
    justify-content: space-evenly;

}
#login-head {
    height: 1.5cm;
}
#as {

}

.con {
    height: 3cm;
    display: flex;
    justify-content: space-evenly;
    /*margin-left:50%;*/
}
.con2 {
    height: 2cm;
    display: flex;
    justify-content: space-evenly;
    /*margin-left:50%;*/
}
.con3 {
    /*margin-left: -10px;*/
}
.flex-1 {
    height:1cm;
    width:5cm;
}
#checkUserEmailButton {
    height: 1cm;
    width:2cm;
    background-color: powderblue;
    border: 0;
}
.x {
    line-height: 0;
    font-weight: bold;
}

#timer {
    line-height: 0;
}
.as2 {
    margin-left: 79px;
}
#joinButton {
    width:3cm;
    height:1cm;
    background-color: powderblue;
    font-style: normal;
    border:1px solid black;


}




@media (max-width: 1200px) {

    .box {
        width: 17%;

    }



    #home {

        width: 5.2%;
        height: 1.5cm;
        margin-top: 30px;
        margin-left: 0;
    }





}

@media (max-width: 685px) {

    .box {
        width: 20%;

    }

    #home {

        width: 0%;
        height: 1.5cm;
        top: 30px;
        margin-left: 0;
    }



}

/*