<head>
  <!-- scale 조정 -->
  <title>글 조회</title>
  <link rel="stylesheet" href="/css/alarm/alarm.css"  type="text/css" id="advertisementCss">

  <meta charset="UTF-8">
  <meta name="google" content="notranslate">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<Header id="Header">
  <div class="area21">
    <input type="button" value="로그인" id="loginBox" class="container box" style="cursor:hand"
           onclick="location.href ='/login'"/>
    <input type="button" value="회원가입" id="joinBox" class="container box"  style="cursor:hand"
           onclick="location.href ='/join'"/>
    <!-- 도메인관련 작업, 복잡한 로직은 스프링에서 작업 -->
    <img src="/image/homeicone8.png" width="80px" height="40px"alt="My github" id="home" class="container " style="cursor:hand">
    <input type="button" value="글쓰기" id="writeBox" class="box" style="cursor:hand"
           onclick="location.href ='/write'"/>
    <input type="button" value="글 조회" id="readBox" class="box" style="cursor:hand"
           onclick="location.href ='/?pageQuantity=1&boardQuantity=20'" />
    <!-- get/ post 방식 떄문에 글 쓰기랑 조회도 스프링에서 작업 -->
  </div>
  <div class="marginBox">
    <a href="https://github.com/xron2929">
      <img src="/image/github2.png" width="30px" alt="My github" id="github"class="container">
    </a>
    <a href="https://hellocoding.tistory.com/">
      <img src="/image/tistory2.png" width="40px" height="40px"alt="My github" id="tistory" class="container"  onclick=moveTistory()>
      <!-- 얘네는 서버끼리 통신개념도 아니고 내부적으로 이동하는 것도 아니니까 굳이 get/post로 전달할 이유 -->
    </a>
    <a href="/alarm?page=1">
      <img src="/image/email2.png" width="30px" height="35px"alt="My github" id="email" class="container">
    </a>
  </div>

</Header>
<section id="section">
  <div class="bodyHeader"></div>
  <article id="article">
    <table id="table">
      <thead id="thead">
      <th class="th th-id">게시판 id</th>
      <th class="th th-title">게시판 이름</th>
      <th class="th th-author">댓글 유저 이름</th>
      <th class="th th-content">댓글 내용</th>
      </thead>
      <tbody id="tbody">

      </tbody>
    </table>
  </article>
  <!-- 내일 출발할 생각이긴 해 -->
  <div class="container2">
    <div class="itema" id="item0">처음</div>
    <div class="itema" id="item1">이전</div>
    <div class="itema disapper" id="item2">1</div>
    <div class="itema disapper" id="item3">2</div>
    <div class="itema disapper" id="item4">3</div>
    <div class="itema disapper" id="item5">4</div>
    <div class="itema disapper" id="item6">5</div>
    <div class="itema disapper" id="item7">6</div>
    <div class="itema disapper" id="item8">7</div>
    <div class="itema disapper" id="item9">8</div>
    <div class="itema disapper" id="item10">9</div>
    <div class="itema disapper" id="item11">10</div>
    <div class="itema" id="item12">다음</div>
    <div class="itema" id="item13">마지막</div>
  </div>


  <!-- 페이지 -->
</section>
<aside id="aside"></aside>
<footer id="footer">
  <h2 id="footerText">간단한 게시판 만들기 - 정재광</h2>
</footer>

</body>
<script defer src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.0/dist/sockjs.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script defer src="/js/alarm/alarm.js"></script>


<!-- 여기서 media query 추가로 만들면 될 것 같다 -->

<!-- 1~10 페이지단위 디시인사이드처럼 가져다 쓰기 개당 10개 정도만
    빨간색 뜨는 건 어캄? 그건 타임리프로 조정해야지? 어떻게? js로 하던가 타임리프로 하던가 만약 page=15이면 빨간색 텍스트 가져와라
    이런느낌? ㅇㅋㅇㅋ
    나중에 sendMail() 함수 작성
-->