/*원래 none_user_write가 맞는데 도박 한 번 해봄 */
Header {
    /*background-color: pink;*/
    width: 150%;
    height: 2cm;

}

.box {
    background-color: powderblue;
    color: white;
    width: 16%;
    height: 40px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;


}
.left{
    background-color: white;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 66.05%;
}
#loginBox {
    /*
    position: absolute;
    left: 5%;
    */
    top: 40px;
    margin-right: 5px;
}

#joinBox {
    /*
    position: absolute;
    left: 25%;
    */
    top: 40px;
    margin-right: 0;
}


#home {
    /*
    position: absolute;
    left: 42%;
    */
    width: 5.2%;
    height: 1.5cm;

    top: 35px;
    margin-left: 0;
}

#writeBox {
    /*
    position: absolute;
    top: 40px;
    */
}

#readBox {
    /*
    position: absolute;
    left: 70%;
    */
    top: 40px;
}

.right {

    width: 0;
    /*background-color: red;*/


}

.marginBox {
    background-color: powderblue;
    position: absolute;

    display: inline;
    padding: 22px;
    padding-right: 102.5px;
    border: 1px solid;
    left: calc(100% - 132px);
    top: 0.7cm;
}

#github {
    position: absolute;
    left: 5%;
    top: 18%;
}

#tistory {
    position: absolute;
    left: calc(((10% + 30px) + (90% - 30px) - 40px) / 2);
    top: 6%;
    margin-right: 0.1px;
    color: powderblue;
}

#email {
    position: absolute;
    top: 9%;
    left: calc(90% - 24px);
    margin-right: 0;
}

section {
    position: absolute;
    top: 2.95cm;
    margin-top: 10px;
    /*background-color: powderblue;*/
    height:14cm;
    /*border:solid black 1px;*/
    width: 98%;
}
.null {
    background-color: powderblue;
}
.item2{
    /*position:absolute;*/
    background-color:powderblue;
    display: inline-flex;
    flex-direction: row;

    flex-wrap: nowrap;
    justify-content: space-between;
    left:0.1%;
    width:100%;
    height:0.98cm;

    border-bottom: solid black 1px;

    margin-left: 0;

}


#username{
    /*position: relative;*/
    height:1cm;
    left:0%;
    width:20%;
    background-color: white;
    border:1px solid black;
}
#password{
    /*position: relative;*/
    height:1cm;
    width:20%;
    background-color: white;
    border:solid black 1px;

}
#title{
    /*position:relative;*/
    width:30%;
    height:1cm;
    background-color: white;
    border:solid black 1px;
}

.edit{

}
#writeButton{
    /*position: absolute;
    left:calc(100% - 3cm);
     */
    font-size: 15px;
    background-color: white;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    height: 0.95cm;
    border: 1px solid black;
    border-left: 2px solid black;
    width:2cm;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

/* 텍스트 space-evently 로 가운데 정렬 해보기 */
}

#submit{
    position: absolute;
    left:50%;
    top:50%;
    color:black;
    text-decoration-line: none;

    font-size:15px;
    left: 50%; margin-left: -15px;
    margin-top:-7.5px;
}



#input-file{
    height:0;
    width: 0;
}


.item1 {
    position: absolute;
    background-color: white;
    display: inline-flex;
    flex-direction: row;

    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-left: 0%;

    height: 1.5cm;
    top:1cm;
    left:0;
    width:99%;
    height: 1cm;
}
#file{

    top:0.1cm;
    left:10px;
    height:0.8cm;
    width:0.7cm;

}
#file2{

    top:0.05cm;

    height:0.9cm;
    width:0.7cm;

}
#file3{

    top:0.05cm;

    height:0.9cm;
    width:0.7cm;

}
#file4{

    top:0.05cm;

    height:0.9cm;
    width:0.7cm;

}
#file5{

    top:0.05cm;

    height:0.9cm;
    width:0.7cm;

}
#file6{

    top:0.05cm;

    height:0.9cm;
    width:0.6cm;

}
#file8{

    top:0.05cm;

    height:0.9cm;
    width:0.7cm;

}
#file9 {

    top:0.05cm;

    height:0.9cm;
    width:0.7cm;

}

#file10 {
    margin-top:-0.25cm;

    height:1.4cm;
    width:1cm;

}

#file11 {
    margin-top:-0.25cm;

    height:1.4cm;
    width:1cm;

}

#file12 {
    margin-top:-0.25cm;

    height:1.4cm;
    width:1cm;

}
#mainText{
    position: relative;
    width:100%;
    background-color: powderblue;
    height:12cm;
    top:0cm;
    border-left: 0;
    left:0;
    margin-left:0;
    color:black;
    font-size:0.4cm;
    overflow:auto;
    /*read-page4.html */
}

.bodyHeader {
    /*background-color: pink;*/
    position: relative;
    left: 7.4%;
    width: 100%;
    height: 1cm;
    left:0;
}





/*
 searchButton이랑 write Button은 둘다 absolute에서
*/

#cke_123_uiElement {
    position:relative;
    left: -60%;
}
#inline {
    display: inline;
}

#exit {
    position: absolute;
    top: 0;
    left: calc(100% - 1.75cm);
    width: 2cm;
}

th {
    border-top: 4px solid black;
    border-bottom: 2px solid black;
}

table {
    position: relative;
    text-align: center;
    border-spacing: 0px;
    width: 100%;

    table-layout: fixed;
    writing-mode: horizontal-tb;


}

td {
    border-bottom: 2px solid black;
}

.th-id {
    width: 15%;
    background-color: pink;
}

.th-title {
    width: 30%;
    background-color: aqua;
    text-overflow: ellipsis;
    overflow: hidden;
}

.th-author {
    width: 20%;
    background-color: aquamarine;
    text-overflow: ellipsis;
    overflow: hidden;
}

.th-date {
    width: 25%;
    background-color: pink;
}

tr {
    height: 1cm;

}

aside {
    position: relative;
    width: 26%;
    height: 15cm;
    left: 69.1%;
    top: 1cm;
    background-color: yellow;
}

#advertisement {
    background-color: pink;
    position: absolute;
    top: 0cm;
    width: 100%;
    height: 15cm;
}


footer {
    position: absolute;
    margin: 0px;
    padding: 0px;
    border: 0px;
    top: 19cm;
    width: 98.7%;
    height: 1.52cm;
    left: calc((100vw - 100%) / 2);
    /*left: 12cm;*/

}

#footerText {
    display: flex;
    justify-content: space-around;

}

.container2 {
    position: relative;
    left: 7.4%;
    padding-right: 100%;
    margin: 0;
    height: 1cm;
    /*background-color: pink;*/

}
@media (max-width: 1400px) {
    #title{
        /*position:relative;*/
        width:48%;
        height:1cm;
        background-color: white;
        border:solid black 1px;
    }

    .left{
        background-color: white;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 66.1%;
    }


}
@media (max-width: 1323px) {
    #writeButton{
        /*position: absolute;
        left:calc(100% - 3cm);*/
        font-size: 15px;
        background-color: white;
        color: black;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
        height: 0.95cm;

        border: 1px solid black;

        top:0;
        border-left: 2px solid black;
        width:3.28cm;

    }
    .left{
        background-color: white;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 66.2%;
    }

}
@media (max-width: 1220px) {
    #title{
        /*position:relative;*/
        width:47.2%;
        height:1cm;
        background-color: white;
        border:solid black 1px;
    }
    #writeButton{
        /*position: absolute;
        left:calc(100% - 3cm);*/
        font-size: 15px;
        background-color: white;
        color: black;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
        height: 0.95cm;

        border: 1px solid black;

        top:0;
        border-left: 2px solid black;
        width:3.26cm;


    }


}

@media (max-width: 1170px) {

    #writeButton{
        /*position: absolute;
        left:calc(100% - 3cm);*/
        font-size: 15px;
        background-color: white;
        color: black;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
        height: 0.95cm;

        border: 1px solid black;

        top:0;
        border-left: 2px solid black;
        width:3.252cm;


    }

    .left{
        background-color: white;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 66.3%;
    }

}
@media (max-width: 1166px) {
    footer  {
        position: absolute;
        margin: 0px;
        padding: 0px;
        border: 0px;
        top: 20cm;
        width: 100%;
        height: 1.52cm;
        /*left: 12cm;*/

    }

}
@media (max-width: 1120px) {

    #writeButton{
        /*position: absolute;
        left:calc(100% - 3cm);*/
        font-size: 15px;
        background-color: white;
        color: black;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
        height: 0.95cm;

        border: 1px solid black;

        top:0;
        border-left: 2px solid black;
        width:3.25cm;


    }

}

@media (max-width: 1090px) {

    #writeButton{
        /*position: absolute;
        left:calc(100% - 2.9cm);*/
        font-size: 15px;
        background-color: white;
        color: black;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
        height: 0.95cm;

        border: 1px solid black;

        top:0;
        border-left: 2px solid black;
        width:3.12cm;


    }

}
@media (max-width: 1034px) {

    #username{
        /*position: relative;*/
        height:1cm;
        left:0%;
        width:15%;
        background-color: white;
        border:1px solid black;
    }
    #writeButton{
        /*position: absolute;
        left:calc(100% - 3cm);*/
        font-size: 15px;
        background-color: white;
        color: black;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
        height: 0.95cm;

        border: 1px solid black;

        top:0;
        border-left: 2px solid black;
        width:3.2cm;


    }

    .left{
        background-color: white;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 66.5%;
    }
}
@media (max-width: 950px) {

    #password{
        /*position: relative;*/
        height:1cm;
        width:15%;
        background-color: white;
        border:solid black 1px;

    }
    #writeButton{
        /*position: absolute;
        left:calc(100% - 3cm);*/
        font-size: 15px;
        background-color: white;
        color: black;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
        height: 0.95cm;

        border: 1px solid black;

        top:0;
        border-left: 2px solid black;
        width:3.17cm;


    }
}

@media (max-width: 870px) {

    #home {
        /*
        position: absolute;
        left: 42%;
        */
        width: 5.2%;
        height: 1.5cm;

        top: 35px;
        margin-left: 0;
    }
    #title{
        /*position:relative;*/
        width:47%;
        height:1cm;
        background-color: white;
        border:solid black 1px;
    }
    #writeButton{
        /*position: absolute;
        left:calc(100% - 2.5cm);*/
        font-size: 15px;
        background-color: white;
        color: black;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
        height: 0.95cm;

        border: 1px solid black;
        top:0;
        border-left: 2px solid black;
        width:2.67cm;


    }
    .left{
        background-color: white;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 66.5%;
    }

}

@media (max-width: 710px) {

    #username{
        /*position: relative;*/
        height:1cm;
        left:0%;
        width:15%;
        background-color: white;
        border:1px solid black;
    }
    #home {
        /*
        position: absolute;
        left: 42%;
        */
        width: 10%;
        height: 1.2cm;
        margin-top:-3px;
        margin-left: 0;
    }
    #title{
        /*position:relative;
        이름비밀번호 제목 글쓰기 flex로 구현하되,
        이름과 글쓰기는 각각 끝에 가야되고
        여백부분에서 grow 같은거 있는지 찾아보고 1,2 이렇게 적용하고 없으면
        margin-left margin-right로 비우는 여백 비율 올려보기
        */
        width:45%;
        height:1cm;
        background-color: white;
        border:solid black 1px;
    }
    #writeButton{
        /*position: absolute;
        left:calc(100% - 2cm);*/
        font-size: 15px;
        background-color: white;
        color: black;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
        height: 0.95cm;

        border: 1px solid black;

        top:0;
        border-left: 2px solid black;
        width:2.1cm;


    }
    .left{
        /*background-color: powderblue;*/
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 67%;
    }
    section {
        position: absolute;
        top: 2.95cm;
        margin-top: 10px;
        /*background-color: powderblue;*/
        height:14cm;
        /*border:solid black 1px;*/
        width: 97%;
    }
   



}
@media (max-width: 618px) {
    footer {
        position: absolute;
        margin: 0px;
        padding: 0px;
        border: 0px;
        top: 21cm;
        width: 100%;
        height: 1.52cm;
        /*left: 12cm;*/
    }
}
@media (max-width: 524px) {
    #username{
        /*position: relative;*/
        height:1cm;
        left:0%;
        width:15%;
        background-color: white;
        border:1px solid black;
    }
}
@media (max-width: 360px) {
    .box {
        background-color: powderblue;
        color: white;
        width: 18%;
        height: 40px;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
}