<head xmlns="http://www.w3.org/1999/html">
    <!-- scale 조정 -->
    <title>글 조회</title>
    <link rel="stylesheet" href="/css/join/join.css" th:href="${@environment.getProperty('SERVER_DOMAIN_URL')}/css/join/join.css" type="text/css" id="advertisementCss"/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<Header>
    <div class="area21">
        <input type="button" value="로그인" id="loginBox" class="container box"
               style="cursor:hand" onclick="location.href ='/login'" />
        <input type="button" value="회원가입" id="joinBox" class="container box"
               style="cursor:hand" onclick="location.href ='/join'" />
        <!-- 도메인관련 작업, 복잡한 로직은 스프링에서 작업 -->
        <img src="/image/homeicone8.png" width="80px" height="40px"alt="My github"
             id="home" class="container " style="cursor:hand">
        <input type="button" value="글쓰기" id="writeBox" class="box" style="cursor:hand"
               onclick="location.href ='/write'" />
        <input type="button" value="글 조회" id="readBox" class="box" style="cursor:hand"
               onclick="location.href ='/?pageQuantity=1&boardQuantity=20'" />
    </div>


</Header>
<section>

    <!-- 검색 바 , 검색, 글쓰기-->
    <article>
        <div class="con" id="lognin-head">
            <div id="login">
                <h1 id="as">로그인</h1>
            </div>
        </div>
        <div class="con">
            <div class="as">
                <p class="x">id</p>
                <input type="text" id='userId' value="id" class="flex-1" />
            </div>
        </div>
        <div class="con">
            <div class="as">
                <p class="x">비밀번호</p>
                <input type="text" id='password' value="비밀번호" class="flex-1"/>
            </div>
        </div>
        <div class="con">
            <div class="as">
                <p class="x">비밀번호 확인</p>
                <input type="text" id='checkPassword'value="비밀번호 확인" class="flex-1"/>
            </div>
        </div>
        <div class="con">
            <div class="as">
                <p class="x">닉네임</p>
                <input type="text" id='nickname'value="닉네임" class="flex-1"/>
            </div>
        </div>
        <div class="con">
            <div class="as">
                <p class="x">성별</p>
                <select id='trans'value="비밀번호 확인" class="flex-1"/>
                <option>남성</option>
                <option>여성</option>
                <option>성별을 알리고 싶지 않습니다.</option>
                </select>
            </div>
        </div>
        <div class="con">
            <div class="as2">
                <p class="x">이메일</p>
                <div class="con3">
                    <input type="text" value="email" id='userEmail'class="flex-1"/>
                    <input type="button" value="인증 버튼" id='checkUserEmailButton'class="inline-flex-1"/>
                </div>
            </div>
        </div>
        <div class="con">
            <div class="as">
                <p class="x">이메일 인증코드</p>
                <input type="text" id='checkEmail' class="flex-1"/>
                <p id="timer">00:00</p>
            </div>
        </div>
        </div>
        <div class="con">
            <div class="as">
                <p class="x">나이</p>
                <input type="text" value="나이" id='age' class="flex-1"/>
            </div>
        </div>
        <div class="con">
            <div class="as">
                <p class="x">전화번호</p>
                <input type="text" value="전화번호" id='phoneNumber'class="flex-1"/>
            </div>
        </div>
        <div class="con">
            <button id="joinButton">회원가입</button>
        </div>
    </article>


    <!-- 페이지 -->
</section>

<aside></aside>
<footer>
    <!--<h2 id="footerText">간단한 게시판 만들기 - 정재광</h2>-->
</footer>

</body>
<script defer src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.0/dist/sockjs.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script defer src="/js/join/join-script.js" th:src="${@environment.getProperty('SERVER_DOMAIN_URL')}/js/join/join-script.js"></script>

