<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <input type="text" value="비밀번호" id="password">
    <input type="button" value="삭제" id="deleteButton">
</body>
<script>
    let domainUri;
    const cookies = document.cookie.split(';'); // 모든 쿠키 가져오기
    for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        if (cookie.startsWith('domainUrl=')) {
            domainUri = cookie.substring('domainURI='.length, cookie.length);
            break;
        }
    }
    let deleteButton = document.getElementById("deleteButton");
    deleteButton.addEventListener("click",addDeleteLogic);
    function deleteBoard() {

        let password = document.getElementById("password");
        let boardId = document.location.href.split("delete/")[1];
        let requestData = {
            method: "DELETE",
            headers: {
                Accept: "application/json",
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                "password": password.value,
                "boardId":boardId
            })
        }
        return fetch(domainUri+"board/none-user",requestData);
    }
    function getView() {
        location.href = domainUri+"?pageQuantity=1&boardQuantity=20";
    }
    function addDeleteLogic() {
        deleteBoard().then(function(response) {
            return response.text();
        }).then(function(response) {
            if(response==="password가 틀렸습니다") {
                alert("password가 다릅니다");
                return;
            }
            getView();
        })
    }
</script>
</html>